<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" ></link>
    <title>SignSpeak - Learn Sign Language practically.</title>
    <link rel="icon" href="/assets/logo/kawaii-panda.jpg" />
    <meta name="description" content="SignSpeak is a platform where users can practically learn Sign Language using machine learning, games and access videos for over 20,000+ ASL phrases."/>
    <link rel="canonical" href="https://signspeak.webdrip.in/"/>
    <meta property="og:title" content="SignSpeak: Learn Sign Language practically"/>
    <meta property="og:description" content="SignSpeak is a platform where users can practically learn Sign Language using machine learning, games and access videos for over 20,000+ ASL phrases."/>
    <meta property="og:site_name" content="SignSpeak"/>
    <meta property="og:type" content="SL,Education,Courses,Learning,Machine Learning, ML, AI, Deaf Community,deaf, sign language"/>
    <meta name="language" content="EN"/>
    <link rel="manifest" href="/manifest.json">
    <meta name="author" content="KISHAN KUMAR S D"/>
    <script async defer data-website-id="b315f6d5-10e5-4c26-a781-d3113658dae7" src="https://analytics.webdrip.in/umami.js"></script>
</head>
<body class="bg-[#ECF3F5]" >
    {{content | safe}}
</body>
<script src="{{ "/js/flowbite.js" | url }}" defer></script>
{# <script>
  if (typeof navigator.serviceWorker !== 'undefined') {
    navigator.serviceWorker.register('sw.js')
  }
</script> #}
</html>